allow from 107.210.150.27
allow from 192.185.1.20
allow from 76.31.179.250
allow from 70.138.115.120
deny from all


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
	 
