body {
	padding-top: 10px;
}

#container {
    width: 600px;
    margin:auto;
}

#punchButton {
	padding-top:20px;
	width: 200px;
	margin:auto;
}

#alert {
	padding-top: 20px;
}


#clickable a {
    color: inherit;
    text-decoration:none;
}

#clickable td:hover {
    cursor: pointer;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.completed {
    color:#C7C3C3;
}

.extraWide {
	padding-right:54px;
	padding-left:54px;
}